services:
        -
            factory: Goetas\JmsSerializerPhpstanExtension\SerializerDynamicReturnTypeExtension(@PHPStan\PhpDoc\TypeStringResolver, JMS\Serializer\SerializerInterface, deserialize)
            tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

        -
            factory: Goetas\JmsSerializerPhpstanExtension\SerializerDynamicReturnTypeExtension(@PHPStan\PhpDoc\TypeStringResolver, JMS\Serializer\ArrayTransformerInterface, deserialize)
            tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
